* {
    box-sizing: border-box;
    font-family: Helvetica;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: cadetblue;
    padding: 1em;
}

.main-nav ul {
    margin: 0;
}

.main-nav li {
    display: inline;
}

.main-nav {
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
}

.main-nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
}

.main-nav li {
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline;
}

.main-nav a:hover {
    color: #777;
}

.container {
    max-width: 900px;
    padding: 0 1.5em;
    margin: 0 auto;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #5D9CD8;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.section-header {
    color: #333;
    text-align: center;
    font-size: 2em;
    margin: 0.3em;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: salmon;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #70312a;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #5D9CD8;
    background-color: whitesmoke;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
    margin-top: 15px;
    margin-right: 10px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.main-footer {
    background: skyblue;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 0.5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.about-image {
    display: block;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 3em;
}

.about-text {
    color: #333;
    line-height: 1.7em;
}

.about-text-blocks {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6em;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: rgb(32, 80, 80);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: rgb(41, 149, 41);
}

.contact-container {
    margin-top: 3em;
}